<div class='w-full flex flex-col space-y-8'>
  <div class="flex justify-between">
    <div>
      <p>
        Welcome to the Catskill Community Tool Share
      </p>
      <p>
        Here are the current tools that we have available
      </p>
    </div>
    <div>
      <%= link_to '+ Add Tool', new_tool_path %>
    </div>
  </div>
  <div>
    <%= turbo_frame_tag :tools_index, src: tools_path %>
  </div>
</div>
