<header>
  <nav class="bg-zinc-700 h-24 text-white p-4 flex items-center justify-between">
    <ul>
      <li>
        <%= link_to "Hudson Valley Tool Library", root_path, class: "text-xl font-semibold uppercase" %>
      </li>
    </ul>

    <ul>
      <li>
        <%= link_to "Log In", root_path %>
      </li>
    </ul>
  </nav>
</header>
